p,ol,nav,footer{-webkit-font-size:20px;
	-moz-font-size:20px;
	-o-font-size:20px;
	font-size:20px;
	
	-webkit-text-align:justify;
	-moz-text-align:justify;
	-o-text-align:justify;
	text-align:justify;}



nav a{-webkit-border-right: 3px solid yellow;
	-moz-border-right: 3px solid yellow;
	-o-border-right: 3px solid yellow;
	border-right: 3px solid yellow;

	-webkit-color: #fff;
	-moz-color: #fff;
	-o-color: #fff;
	color: #fff;}

nav a:last-child{-webkit-border-right: none;
	-moz-border-right: none;
	-o-border-right: none;
	border-right: none;}

div.PS{-webkit-font-size:40%;
	-moz-font-size:40%;
	-o-font-size:40%;
	font-size:40%;

	-webkit-text-align:center;
	-moz-text-align:center;
	-o-text-align:center;
	text-align:left;}

div{-webkit-text-align:center;
	-moz-text-align:center;
	-o-text-align:center;
	text-align:center;}

body{-webkit-background: linear-gradient(#61cfc4 0%,#e1f5f3 100%);
	-moz-background: linear-gradient(#61cfc4 0%,#e1f5f3 100%);
	-o-background: linear-gradient(#61cfc4 0%,#e1f5f3 100%);
	background: linear-gradient(#61cfc4 0%,#e1f5f3 100%);

	-webkit-font-family:Futura,Geneva;
	-moz-font-family:Futura,Geneva;
	-o-font-family:Futura,Geneva;
	font-family:Futura,Geneva;

	-webkit-line-height:150%;
	-moz-line-height:150%;
	-o-line-height:150%;
	line-height:150%;

	-webkit-overflow:auto;
	-moz-overflow:auto;
	-o-overflow:auto;
	overflow:auto;

	-webkit-display:inline-block;
	-moz-display:inline-block;
	-o-display:inline-block;
	display:inline-block;

	-webkit-margin:10%;
	-moz-margin:10%;
	-o-margin:10%;
	margin:10%;
	
	-webkit-display:inline-block;
	-moz-display:inline-block;
	-o-display:inline-block;
	display:inline-block;}

img.largepic{-webkit-width:40%;
	-moz-width:40%;
	-o-width:40%;
	width:40%;
	-webkit-transition-property: width;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: linear;
	-moz-transition-property: width;
	-moz-transition-duration: .5s;
	-moz-transition-timing-function: linear;
	-o-transition-property: width;
	-o-transition-duration: .5s;
	-o-transition-timing-function: linear;
	transition-property: width;
	transition-duration: .5s;
	transition-timing-function: linear;}

img.smallpic{-webkit-width:30%;
	-moz-width:30%;
	-o-width:30%;
	width:30%;}
a:hover,a:focus{-webkit-color:#32a86f;
	-moz-color:#32a86f;
	-o-color:#32a86f;
	color:#32a86f;}

a:visited{-webkit-color:#8dc2c0;
	-moz-color:#8dc2c0;
	-o-color:#8dc2c0;
	color:#8dc2c0;}

img:hover,img:focus{-webkit-width:1300px;
	-moz-width:70%;
	-o-width:1300px;
	width:90%;}
	


      .show-mobile {
        display: block;
      }
      .hide-mobile {
        display: none;
      }
    	nav{-webkit-text-align: center;
	-moz-text-align: center;
	-o-text-align: center;
	text-align: left;

	-webkit-position:fixed;
	-moz-position:fixed;
	-o-position:fixed;
	position:fixed;

	-webkit-top:0;
	-moz-top:0;
	-o-top:0;
	top:0;

	-webkit-width: 100%;
	-moz-width: 100%
	-o-width: 100%;
	width: 100%;

	-webkit-height: 10%;
	-moz-height: 10%;
	-o-height: 10%;
	height: 10%;

	-webkit-background-color:#444;
	-moz-background-color:#444;
	-o-background-color:#444;
	background-color:#444;

	-webkit-z-index: 1;
	-moz-z-index: 1;
	-o-z-index: 1;
	z-index: 1;
	
 

    }

 @media only screen and (min-device-width: 1024px) {
      .show-mobile {
        display: none;
      }
      .hide-mobile {
        display: block;
      }
    nav{-webkit-text-align: center;
	-moz-text-align: center;
	-o-text-align: center;
	text-align: center;

	-webkit-position:fixed;
	-moz-position:fixed;
	-o-position:fixed;
	position:fixed;

	-webkit-top:0;
	-moz-top:0;
	-o-top:0;
	top:0;

	-webkit-width: 100%;
	-moz-width: 100%
	-o-width: 100%;
	width: 100%;

	-webkit-height: 5%;
	-moz-height: 5%;
	-o-height: 5%;
	height: 5%;

	-webkit-background-color:#444;
	-moz-background-color:#444;
	-o-background-color:#444;
	background-color:#444;

	-webkit-z-index: 1;
	-moz-z-index: 1;
	-o-z-index: 1;
	z-index: 1;
    }
